@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body {
    align-items: center;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    -webkit-animation: slidein 20s;
    animation: slidein 20s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {
        background-size: 2100px;
    }

    to {
        background-size: 1925px;
    }
}

@keyframes slidein {
    from {
        background-size: 2100px;
    }

    to {
        background-size: 1925px;
    }
}

.header {
    display: flex;
    background-color: #06070a60;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    font-size: 0.7rem;
}

.owner,
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #000000;
}

.owner img {
    width: 2.6rem;
    -webkit-user-drag: none;
}


.test {
    color: var(--font);
    transition: transform 0.3s ease-in-out;
}

.test:hover {
    transform: rotate(360deg) scale(1.2);
}

.main {
    display: flex;
    justify-content: center;
}

.manual {
    color: white;
    border: 2px rgba(0, 0, 0, 0.685) solid;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7);
    height: 25rem;
    padding: 10px;
    margin-top: 6rem;
    margin-left: 7px;
    border-radius: 7px;
    background-color: #00000098;
}

#calculator {
    width: 370px;
    height: 550px;
    padding: 5px;
    border: 2px rgba(0, 0, 0, 0.685) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7);
    margin-top: 6rem;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 8px;
    margin: 4px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

#displayBot {
    width: auto;
    height: 40px;
    font-size: 24px;
}

#displayTop {
    width: auto;
    height: 40px;
    font-size: 24px;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

button {
    border-radius: 4rem;
    flex: 1;
    margin: 3px;
    color: rgb(252, 252, 252);
    font-size: 30px;
    border-color: rgba(0, 0, 0, 0.295);
}

.operator,
button[data-key="Enter"],
button[data-key="Period"] {
    background-color: rgba(31, 25, 31, 0.767);
}


.operand {
    background-color: rgba(73, 73, 73, 0.671);
}


.command {
    background-color: rgba(153, 7, 7, 0.664);
}

button[data-key="Enter"]:hover {
    border: 3px solid rgb(60, 255, 0);
}

.command:hover {
    border: 3px solid rgb(255, 0, 0);
}

.operand:hover {
    border: 3px solid rgb(0, 217, 255);
}

.operator:hover,
button[data-key="Period"]:hover {
    border: 3px solid rgb(255, 230, 0);
}















@media screen and (max-height: 700px) {


    @-webkit-keyframes slidein {
        from {
            background-size: 2100px;
        }

        to {
            background-size: 1925px;
        }
    }

    @keyframes slidein {
        from {
            background-size: 2100px;
        }

        to {
            background-size: 1925px;
        }
    }

    .manual {
        color: white;
        border: 2px rgba(0, 0, 0, 0.685) solid;
        box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7);
        height: 25rem;
        padding: 10px;
        margin-top: 4rem;
        margin-left: 7px;
        border-radius: 7px;
        background-color: #00000098;
    }

    #calculator {
        width: 259px;
        height: 385px;
        padding: 3.5px;
        border: 0.7px black solid;
        border-radius: 7px;
        box-shadow: 5.6px 5.6px 14px rgba(0, 0, 0, 0.7);
        margin-top: 4rem;
    }

    .display {
        gap: 0.7rem;
        flex: 1;
        border-radius: 5.6px;
        margin: 2.8px;
        padding: 7px;
        line-height: 2.1rem;
        font-size: 25.2px;
        color: rgb(123, 255, 0);
    }

    #displayBot {
        height: 28px;
        font-size: 15.4px;
    }

    #displayTop {
        height: 28px;
        font-size: 15.4px;
    }

    button {
        border-radius: 3rem;
        flex: 1;
        margin: 2.1px;
        font-size: 21px;
    }

}


@media screen and (max-width: 700px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .manual {
        margin-bottom: 1rem;
    }

    .manual h1 {
        font-size: 20px;
        text-align: center;
    }

}

@media screen and (max-width: 430px) {

    .header {
        font-size: 6px;
    }

    .owner img {
        width: 1.5rem;
    }

    @-webkit-keyframes slidein {
        from {
            background-size: 2100px;
        }

        to {
            background-size: 1925px;
        }
    }

    @keyframes slidein {
        from {
            background-size: 2100px;
        }

        to {
            background-size: 1925px;
        }
    }

    #calculator {
        width: 259px;
        height: 385px;
        padding: 3.5px;
        border: 0.7px black solid;
        border-radius: 7px;
        box-shadow: 5.6px 5.6px 14px rgba(0, 0, 0, 0.7);
        margin-top: 5.6rem;
    }

    .display {
        gap: 0.7rem;
        flex: 1;
        border-radius: 5.6px;
        margin: 2.8px;
        padding: 7px;
        line-height: 2.1rem;
        font-size: 25.2px;
        color: rgb(123, 255, 0);
    }

    #displayBot {
        height: 28px;
        font-size: 15.4px;
    }

    #displayTop {
        height: 28px;
        font-size: 15.4px;
    }

    button {
        border-radius: 3rem;
        flex: 1;
        margin: 2.1px;
        font-size: 21px;
    }

}